@import "bower_components\\bootstrap-sass\\assets\\stylesheets\\_bootstrap.scss";

img {
  display: block;
  margin: 0 auto;
}

.text-smaller {
  font-size: 0.8em;
}

@for $i from 1 through 2 {
  .space-after-#{$i} {
    margin-bottom: #{$i}em;
  }
}
