doctype html
html(lang="{{language}}", ng-app="meeting")
  head
    meta(name="version", content=version)
    base(href="/")
  body
    ul
      each lang in languages
        li
          a(href="/" + lang)=lang

    nav
      ul
        li
          a(ng-href="{{ localizeRoute('home') }}")="home"
        li
          a(ng-href="{{ localizeRoute('instructors.list') }}")="instructors"
    ui-view
    script(src="vendor-min.js")
    script(src="app-min.js")
